openapi: 3.0.0
info:
  contact:
    name: Asana Support
    url: https://asana.com/support
  description: "This is the interface for interacting with the [Asana Platform](https://developers.asana.com).\
    \ Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml)."
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://asana.com/terms
  title: Asana
  version: "1.0"
  x-public-description: "This is the interface for interacting with the [Asana Platform](https://developers.asana.com).\
    \ Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml)."
  x-docs-schema-whitelist:
  - AsanaResource
  - AsanaNamedResource
  - AuditLogEvent
  - AttachmentResponse
  - AttachmentCompact
  - BatchResponse
  - CustomFieldSettingResponse
  - CustomFieldSettingCompact
  - CustomTypeResponse
  - CustomTypeBase
  - CustomTypeCompact
  - CustomTypeStatusOptionResponse
  - CustomTypeStatusOptionBase
  - CustomTypeStatusOptionCompact
  - CustomFieldResponse
  - CustomFieldCompact
  - CustomFieldMembershipCompact
  - CustomFieldMembershipResponse
  - EnumOption
  - EventResponse
  - ErrorResponse
  - GoalResponse
  - GoalCompact
  - GoalMembershipCompact
  - GoalMembershipBase
  - GoalMembershipResponse
  - GoalRelationshipResponse
  - GoalRelationshipCompact
  - GraphExportResponse
  - GraphExportCompact
  - JobResponse
  - JobCompact
  - OrganizationExportResponse
  - OrganizationExportCompact
  - PortfolioMembershipResponse
  - PortfolioMembershipCompact
  - PortfolioResponse
  - PortfolioCompact
  - ProjectBriefResponse
  - ProjectBriefCompact
  - ProjectMembershipCompactResponse
  - ProjectMembershipNormalResponse
  - ProjectMembershipCompact
  - ProjectResponse
  - ProjectCompact
  - ProjectStatusResponse
  - ProjectStatusCompact
  - ProjectTemplateCompact
  - ProjectTemplateResponse
  - RuleTriggerResponse
  - ResourceExportResponse
  - ResourceExportCompact
  - SectionResponse
  - SectionCompact
  - StatusUpdateResponse
  - StatusUpdateCompact
  - StoryResponse
  - StoryCompact
  - TagResponse
  - TagCompact
  - TaskResponse
  - TaskCompact
  - TaskCountResponse
  - TeamMembershipResponse
  - TeamMembershipCompact
  - TeamResponse
  - TeamCompact
  - TimePeriodResponse
  - TimePeriodCompact
  - UserTaskListResponse
  - UserTaskListCompact
  - UserResponse
  - UserCompact
  - WebhookFilter
  - WebhookResponse
  - WebhookCompact
  - WorkspaceMembershipResponse
  - WorkspaceMembershipCompact
  - WorkspaceResponse
  - WorkspaceCompact
servers:
- description: Main endpoint.
  url: https://app.asana.com/api/1.0
security:
- personalAccessToken: []
- oauth2: []
tags:
- description: "An allocation object represents how much of a resource (e.g. person,\
    \ team) is dedicated to a specific work object (e.g. project, portfolio) over\
    \ a specific period of time. The effort value of an allocation object can be a\
    \ percentage or number of hours."
  name: Allocations
- description: "An access request object represents a user's request to an item, such\
    \ as a project or portfolio, that they do not have access to. The request is sent\
    \ to the owner of the item for approval."
  name: Access requests
- description: "An *attachment* object represents any file attached to a task in Asana,\
    \ whether it's an uploaded file or one associated via a third-party service such\
    \ as Dropbox or Google Drive."
  name: Attachments
- description: |-
    Asana's audit log is an immutable log of [important events](/docs/audit-log-events#supported-audit-log-events) in your organization's Asana instance.

    The audit log API allows you to monitor and act upon important security and compliance-related changes. Organizations might use this API endpoint to:

    * Set up proactive alerting with a Security Information and Event Management (SIEM) tool like [Splunk](https://asana.com/guide/help/api/splunk)
    * Conduct reactive investigations when a security incident takes place
    * Visualize key domain data in aggregate to identify security trends

    Note that since the API provides insight into what is happening in an Asana instance, the data is [read-only](/reference/getauditlogevents). That is, there are no "write" or "update" endpoints for audit log events.

    Only [Service Accounts](https://asana.com/guide/help/premium/service-accounts) in [Enterprise Domains](https://asana.com/enterprise) can access audit log API endpoints. Authentication with a Service Account's [personal access token](/docs/personal-access-token) is required.

    For a full list of supported events, see [supported AuditLogEvents](/docs/audit-log-events#supported-audit-log-events).
  name: Audit log API
- description: |-
    There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:

    * Modern browsers limit the number of requests that a single web page can
      make at once.
    * Mobile apps will use more battery life to keep the cellular radio on
      when making a series of requests.
    * There is an overhead cost to developing software that can make multiple
      requests in parallel.
    * Some cloud platforms handle parallelism poorly, or disallow it
      entirely.


    To make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple “actions” by making only a single HTTP request.

    #### Making a batch request

    To make a batch request, send a `POST` request to `/batch`. Like other `POST` endpoints, the body should contain a `data` envelope. Inside this envelope should be a single `actions` field, containing a list of “action” objects.  Each action represents a standard request to an existing endpoint in the Asana API.

    **The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a `400 Bad Request`.

    When the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the `relative_path` and `method` for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).

    The response to the batch request will contain (within the `data` envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request (e.g., the first result in the response corresponds to the first action in the request)

    The batch API will always attempt to return a `200 Success` response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a `200 Success` response, and each result object in the response will contain the errors encountered with each action.

    #### Rate limiting

    The batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.

    If any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a `429 Too Many Requests` error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.

    #### Restrictions

    Not every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a `400 Bad Request` for that action:

    * Uploading attachments
    * Creating, getting, or deleting organization exports
    * Any SCIM operations
    * Nested calls to the batch API
  name: Batch API
- description: |-
    A *budget* object represents a budget for a specific *parent* resource (such as a project).

    Each budget tracks values either in *time* or *cost*, as determined by the *budget_type* field.

    When *budget_type* is `time`, all values are expressed in minutes. When *budget_type* is `cost`, all values are expressed in the domain’s currency.

    A budget can include up to three value objects: *estimate*, *actual*, and *total*. Each contains a `value`, `units`, and may include a `billable_status_filter` field.

    **estimate** Represents the aggregated estimated effort on tasks attributed to the *parent*. For time budgets: total estimated minutes. For cost budgets: total estimated cost, computed as (estimated time × resource rate).

    **actual** Represents the aggregated actual time logged on tasks attributed to the *parent*. For time budgets: total actual minutes from time tracking entries. For cost budgets: total actual cost, computed as (actual time × resource rate). The optional `billable_status_filter` limits aggregation to `billable`, `non_billable`, or `any` entries.

    **total** A user-defined target value for the budget. Stored independently per budget type, so switching between *time* and *cost* preserves each type's value. For time budgets: stored and read as minutes. For cost budgets: stored and read in the domain's currency.
  name: Budgets
- description: |-
    _Note: Custom fields are a premium feature. Integrations which work with custom fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of which data users will have access in different circumstances, review the section below on access control._

    In the Asana application, tasks, projects, and portfolios can hold user-specified [custom fields](https://asana.com/guide/help/premium/custom-fields) which provide extra information (e.g., a "priority" property with an associated value, or a number representing the time required to complete a task). This lets a user define the type of information that each item within a project or portfolio can contain in addition to the built-in fields that Asana provides.
    `display_value` is a read-only field that will always be a string. For apps that use custom fields, this is a great way to safely display/export the value of a custom field, regardless of its type. We suggest apps use this field in order to future-proof for changes to custom fields.

    #### Characteristics of custom fields

    * There is metadata that defines the custom field. This metadata can be shared across an entire workspace, or be specific to a project or portfolio.
    * Creating a custom field setting on a project or portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every task (row) in the project (table) can contain information for that field, including "blank" values (i.e., `null` data). For portfolio custom fields, every project (row) in the portfolio (table) will contain information for the custom field.
    * Custom field settings only go one child deep. This means that a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.
    * Tasks have custom field _values_ assigned to them.

    #### Types of custom fields

    Integrations using custom fields need to be aware of the six basic types that a custom field can adopt. These types are:

    * `text` - an arbitrary, relatively short string of text
    * `number` - a number with a defined level of precision
    * `enum` - a selection of a single option from a defined list of options (i.e., mutually exclusive selections)
    * `multi_enum` - a selection of one or more options from a defined list of options (i.e., mutually inclusive selections)
    * `date` - a reference date with an optional time value
    * `people` - a list of active contributors (i.e., where their relationship to the work is defined in the custom field title)

    #### Example use case

    Consider an organization that has defined a custom field for "Priority". This field is of `enum` type and can have user-defined values of `Low`, `Medium`, or `High`. This is the field metadata, and it is visible within, and shared across, the entire organization.

    A project is then created in the organization, called "Bugs", and the "Priority" custom field is associated with that project. This will allow all tasks within the "Bugs" project to have an associated "Priority".

    A new task is created within "Bugs". This task, then, has a field named "Priority" which can take on the custom field value of one of `[null]`, `Low`, `Medium`, and `High`.

    #### Custom fields in the API

    These custom fields are accessible via the API through a number of endpoints at the top level (e.g. `/custom_fields` and `/custom_field_settings`) and through requests on workspaces, portfolios, projects, and tasks resources. The API also provides a way to fetch both the metadata and data which define each particular custom field, so that a client application may render proper UI to display or edit the values.

    Text fields are currently limited to 1024 characters. On tasks, their custom field value will have a `text_value` property to represent this field.

    Number fields can have an arbitrary `precision` associated with them; for example, a precision of `2` would round its value to the second (hundredths) place (e.g., `1.2345` would round to `1.23`). On tasks, the custom field value will have a `number_value` property to represent this field.

    #### Enum fields

    Enum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:

    * `gid` - the GID of this enum option. Note that this is the GID of the individual _option_. The custom field itself has a separate `gid`.
    * `name` - the name of the option (e.g., "Choice #1")
    * `enabled` - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for custom field values which were set to the option before the option was disabled.
    * `color` - a color associated with this choice.

    On the task's custom field value, the enum will have an `enum_value` property which will be the same as one of the choices from the list defined in the custom field metadata.

    #### Querying an organization for its custom fields

    For custom fields shared across the workspace or organization, the workspace [can be queried](/reference/getcustomfieldsforworkspace) for its list of defined custom fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for custom fields includes `type` as well as `gid` and `name`.

    #### Accessing custom field definitions

    The [custom fields](/reference/getcustomfield) reference describes how the metadata which defines a custom field is accessed. A GET request with a `gid` can be issued on the `/custom_fields` endpoint to fetch the full definition of a single custom field given its `gid` from (for instance) listing all custom fields on a workspace, or getting the `gid` from a custom field settings object or a task.

    #### Associating custom fields with a project or portfolio

    A mapping between a custom field and a project or portfolio is handled with a [custom field settings](/reference/custom-field-settings) object. This object contains a reference for each of the custom fields and the project or portfolio, as well as additional information about the status of that particular custom field (e.g., `is_important`, which defines whether or not the custom field will appear in the list/grid on the Asana application).

    #### Accessing custom field values on tasks or projects

    The [tasks](/reference/gettask) reference has information on how custom fields look on tasks. custom fields will return as an array on the property `custom_fields`, and each entry will contain, side-by-side, the compact representation of the custom field metadata and a `{typename}_value` property that stores the value set for the custom field.

    Of particular note is that the top-level `gid` of each entry in the `custom_fields` array is the `gid` of the custom field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the `/custom_fields/{custom_fields_id}` endpoint as described above.

    Custom fields can be set just as in the Asana-defined fields on a task via `POST` or `PUT` requests. You can see an example in the [update a task](/reference/updatetask) endpoint.

    Custom fields on projects follow this same pattern.

    #### Warning: Program defensively with regards to custom field definitions

    Asana application users have the ability to change the definitions of custom field metadata. This means that as you write scripts or applications to work with them, it is possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular custom field. When using custom fields, it is a good idea to program *defensively*, meaning you your application should double-check that the custom field metadata are what it expects.

    Storing the state of the custom field metadata for too long if you dynamically create a model for it can cause your model to become out of sync with the model stored in Asana. For example, if you encounter an `enum` value on a task that does not match any option in your metadata model, your metadata model has become out of date with the custom field metadata.

    #### Enabled and disabled values

    When information that is contained in a custom field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the custom field metadata from a project, or move a task with a custom field to a different project which does not have the custom field metadata associated with it. The value remains on the task, and the custom field metadata can still be found and examined, but as the context in which the custom field makes sense is gone, the custom field cannot change its value; it can only be cleared.

    _Note: Tasks that are associated with multiple projects do not become disabled, so long as at least one of the projects is still associated with the custom field metadata. In other words, tasks with multiple projects will retain logically associated to the set of custom field metadata represented by all of their projects._

    Moving the task back under a project with that custom field applied to it or applying the custom field metadata to the current project will return the custom field value to an enabled state. In this scenario, the custom field will be re-enabled and editable again.

    In the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property `enabled: false` to inform the external application that the value has been disabled.

    Note that the API enforces the same operations on disabled custom field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn't provide enough information to know what new values should be. Setting the custom field value to `null` will clear and remove the custom field value from the task.

    #### Custom field access control

    Custom fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it is best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs.
  name: Custom fields
- description: "Custom fields are attached to a particular project with the custom\
    \ field settings resource. This resource both represents the many-to-many join\
    \ of the custom field and project as well as stores information that is relevant\
    \ to that particular pairing. For instance, the `is_important` property determines\
    \ some possible application-specific handling of that custom field."
  name: Custom field settings
- description: A custom type allows distinct categorizations of objects based on their
    specific purpose or functionality. Structuring objects through a defined custom
    type provides greater flexibility in work management allowing users to better
    match the object to their use case
  name: Custom types
- description: |-
    An event is an object representing a change to a resource that was observed by an event subscription. Event streams rely on the same infrastructure as webhooks, which ensures events are delivered within a minute (on average). This system is designed for at most once delivery, meaning in exceptional circumstances a small number of events may be missing from the stream. For this reason, if your use case requires strong guarantees about processing all changes on a resource and cannot tolerate any missing events, regardless of how rare that might be, we recommend building a fallback polling system that fetches the resource periodically as well. Note that while webhooks cannot be replayed once delivered, events are retrievable from the event stream for 24 hours after being processed.

    In general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events "bubble up" (e.g., listening to events on a project would include when stories are added to tasks in the project, and even to subtasks).

    Establish an initial sync token by making a request with no sync token. The response will be a `412 Precondition Failed` error - the same as if the sync token had expired.

    Subsequent requests should always provide the sync token from the immediately preceding call.

    Sync tokens may not be valid if you attempt to go "backward" in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.

    When you receive a `412 Precondition Failed` error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.

    Sync tokens always expire after 24 hours, but may expire sooner, depending on load on the service.
  name: Events
- description: |-
    Exports are a way to download data from Asana. The following types of exports are available:
    * **Graph exports**: Export of data about objects starting from a parent object, such as a team, portfolio, or project.
    * **Resource exports**: Bulk exports of resources such as tasks, teams, and messages for a workspace.
    * **Organization exports**: Exports the complete data of an organization in JSON format. Please refer to [Organization exports](/reference/organization-exports) for more details.

    ## Graph exports
    A `graph_export` object represents a request to export the
    data about objects starting from a parent object. Parent object can be a team, portfolio, or project.

    To create an export using this API:
    1. Create a `graph_export` [request](/reference/createGraphExport) and store the ID that is returned.
    2. Request the [jobs](/reference/getjob) endpoint every few minutes, until `status` field contains 'succeeded'.
    3. Download the file located at the URL in the `download_url` field.

    Exports can take a long time, from several minutes to a few hours for large portfolios.

    *Note: Graph exports are only available to accounts of an
    [Enterprise](https://asana.com/enterprise)/Enterprise+ organization.*

    ## Resource exports
    A `resource_export` object represents a request to bulk export resources for a workspace.
    To create an export using this API:
    1. Create a `resource_export` [request](/reference/createResourceExport) and store the job ID that is returned.
    2. Request the [jobs](/reference/getjob) endpoint at some interval, until `status` field contains 'succeeded' and a `download_url` is available.
    3. Download the file located at the URL in the `download_url` field.

    Exports can take a long time, from several minutes to a few hours for large workspaces.

    *Note: Resource exports are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts)
    from an Enterprise+ organization or an organization with the Compliance Management Add-on.
  name: Exports
- description: A goal is an object in the goal-tracking system that helps your organization
    drive measurable results.
  name: Goals
- description: "A goal relationship is an object representing the relationship between\
    \ a goal and another goal, a project, a task, or a portfolio."
  name: Goal relationships
- description: |-
    Jobs represent processes that handle asynchronous work. A job created when an endpoint requests an action that will be handled asynchronously, such as project or task duplication.

    Only the creator of the duplication process can access the duplication status of the new object.

    *Note*: With any work that is handled asynchronously (e.g., [project instantation from a template](/reference/instantiateproject), duplicating a [task](/reference/duplicatetask) or [project](/reference/duplicateproject), etc.), the *intermittent states* of newly-created objects may not be consistent. That is, object properties may return different values each time when polled until the job `status` has returned a `succeeded` value.
  name: Jobs
- description: |-
    A membership object represents the relationship between a team or user and an object in Asana. Currently, the
    supported types of memberships are for goals, projects, and portfolios. For example, a project membership
    can be used to add a user to a project.
  name: Memberships
- description: |-
    An `organization_export` object represents a request to export the complete data of an organization in JSON format.

    To export an organization using this API:

    * Create an `organization_export`
      [request](/reference/createorganizationexport)
      and store the ID that is returned.
    * Request the `organization_export` every few minutes, until the
      `state` field contains ‘finished’.
    * Download the file located at the URL in the `download_url` field. * Exports can take a long time, from several minutes to a few hours
      for large organizations.


    *Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) organization.*
  name: Organization exports
- description: |-
    A portfolio gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [status update](/reference/status-updates).
    Portfolios have some restrictions on size. Each portfolio has a max of 1500 items and, like projects, a maximum of 20 custom fields.
  name: Portfolios
- description: This object determines if a user is a member of a portfolio.
  name: Portfolio memberships
- description: |-
    A project represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. A project exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.

    Projects in organizations are shared with a single team. Currently, the team of a project cannot be changed via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.

    Followers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.

    **Note:** You can use certain project endpoints to operate on [user task lists](/reference/user-task-lists) ([My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)) by substituting the `{project_gid}` with the `{user_task_list_gid}`. For example, you can perform operations on the custom fields of a user task list by using the following projects endpoints: [Add a custom field to a project](/reference/addcustomfieldsettingforproject), [Remove a custom field from a project](/reference/removecustomfieldsettingforproject) and [Get a project's custom fields](/reference/getcustomfieldsettingsforproject)
  name: Projects
- description: |-
    A project brief object represents a rich text document that describes a project.

    Please note that this API is in *preview*, and is expected to change. This API is to be used for development and testing only as an advance view into the upcoming rich text format experience in the task description. For more information, see [this post](https://forum.asana.com/t/project-brief-api-now-available-as-a-preview/150885) in the developer forum.
  name: Project briefs
- description: "With the introduction of “comment-only” projects in Asana, a user’\
    s membership in a project comes with associated permissions. These permissions\
    \ (i.e., whether a user has full access to the project or comment-only access)\
    \ are accessible through the project memberships endpoints described here."
  name: Project memberships
- description: |-
    *Deprecated: new integrations should prefer using [status updates](/reference/status-updates)*

    A project status is an update on the progress of a particular project,
    and is sent out to all project followers when created. These updates
    include both text describing the update and a color code intended to
    represent the overall state of the project: "green" for projects that
    are on track, "yellow" for projects at risk, "red" for projects that
    are behind, and "blue" for projects on hold.

    Project statuses can be created and deleted, but not modified.
  name: Project statuses
- description: |-
    A project template is an object that allows new projects to be created
    with a predefined setup, which may include tasks, sections, rules, etc.
    It simplifies the process of running a workflow that involves a similar
    set of work every time.


    Project templates in organizations are shared with a single team. Currently, the
    team of a project template cannot be changed via the API.
  name: Project templates
- description: "A reaction is an object that represents a user's emoji reaction on\
    \ a status update, comment, task completion, or attachment."
  name: Reactions
- description: A rate object represents the rate of a resource for a parent object.
  name: Rates
- description: |-
    [Asana rules](https://help.asana.com/s/article/rules?language=en_US) allow you to automate common patterns
    and workflows in Asana. Rules comprise triggers that will automatically perform actions. For example, you
    can create a rule to automatically assign a task (action) when a due date is set (trigger).

    To support cross-application workflows, the API supports
    [incoming web requests](https://developers.asana.com/docs/incoming-web-requests) as a generic trigger to
    connect external applications to Asana through rules. This API allows users to set up workflows outside
    of Asana that can perform operations on data within Asana.
  name: Rules
- description: |-
    A section is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.

    Sections are largely a shared idiom in Asana’s API for both list and board views of a project regardless of the project’s layout.

    The ‘memberships’ property when [getting a task](/reference/gettask) will return the information for the section or the column under ‘section’ in the response.
  name: Sections
- description: SSPM (SaaS Security Posture Management) is a set of APIs which allows
    centralized inspection and management of a customer's deployed SaaS apps via an
    SSPM provider.
  name: SSPM
- description: |-
    A status update is an update on the progress of a particular object,
    and is sent out to all followers when created. These updates
    include both text describing the update and a `status_type` intended to
    represent the overall state of the project. These include: `on_track` for projects that
    are on track, `at_risk` for projects at risk, `off_track` for projects that
    are behind, and `on_hold` for projects on hold.

    Status updates can be created and deleted, but not modified.
  name: Status updates
- description: |-
    *See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*

    A story represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. "Comments" are also a form of user-generated story.
  name: Stories
- description: |-
    A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.

    Tags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with.
  name: Tags
- description: |-
    The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.

    Sections are unique in that they will be included in the `memberships` field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.

    [Queries](/reference/gettasks) return a [compact representation of each task object](/reference/tasks). To retrieve *all* fields or *specific set* of the fields, use [field selectors](/docs/inputoutput-options) to manipulate what data is included in a response.
  name: Tasks
- description: |-
    A task template is an object that allows new tasks to be created with a predefined setup, which may include followers, dependencies, custom fields, etc. It simplifies the process of running a workflow that involves a similar set of work every time.
    Task templates are contained within a single project.
  name: Task templates
- description: A team is used to group related projects and people together within
    an organization. Each project in an organization is associated with a team.
  name: Teams
- description: This object determines if a user is a member of a team.
  name: Team memberships
- description: "A time period is an object that represents a domain-scoped date range\
    \ that can be set on [goals](/reference/goals)."
  name: Time periods
- description: "Asana’s native time tracking feature allows you to estimate the time\
    \ needed to complete a task, as well as record the actual time spent."
  name: Time tracking entries
- description: The typeahead search API provides search for objects from a single
    workspace.
  name: Typeahead
- description: |-
    A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.

    Like other objects in the system, users are referred to by numerical IDs. However, the special string identifier `me` can be used anywhere a user ID is accepted, to refer to the current authenticated user (e.g, `GET /users/me`).
  name: Users
- description: "A user task list represents the tasks assigned to a particular user.\
    \ This list is the user's [My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)\
    \ list."
  name: User task lists
- description: |-
    Webhooks allow you to subscribe to notifications about events that occur on Asana resources (e.g., tasks, projects, stories, etc.).

    For a more detailed explanation of webhooks see the [overview of webhooks](/docs/webhooks-guide).
  name: Webhooks
- description: |-
    A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.

    An *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its `is_organization` property.

    Over time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any `workspace` parameter.
  name: Workspaces
- description: This object determines if a user is a member of a workspace.
  name: Workspace memberships
paths:
  /access_requests:
    get:
      description: Returns the pending access requests for a target object or a target
        object filtered by user.
      operationId: getAccessRequests
      parameters:
      - description: Globally unique identifier for the target object.
        example: "1331"
        explode: true
        in: query
        name: target
        required: true
        schema:
          type: string
        style: form
        x-env-variable: target
      - description: "A string identifying a user. This can either be the string \"\
          me\", an email, or the gid of a user."
        example: me
        explode: true
        in: query
        name: user
        required: false
        schema:
          type: string
        style: form
        x-env-variable: user
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      - description: "This endpoint returns a resource which excludes some properties\
          \ by default. To include those optional properties, set this query parameter\
          \ to a comma-separated list of the properties you wish to include."
        example:
        - approval_status
        - message
        - requester
        - requester.name
        - target
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - approval_status
            - message
            - requester
            - requester.name
            - target
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccessRequests_200_response"
          description: Successfully retrieved access requests.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Get access requests
      tags:
      - Access requests
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet accessRequestsApiInstance = new Asana.AccessRequestsApi();\nlet\
            \ target = \"1331\"; // String | Globally unique identifier for the target\
            \ object.\nlet opts = { \n    'user': \"me\", \n    'opt_fields': \"approval_status,message,requester,requester.name,target\"\
            \n};\naccessRequestsApiInstance.getAccessRequests(target, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            access_requests_api_instance = asana.AccessRequestsApi(api_client)
            target = "1331" # str | Globally unique identifier for the target object.
            opts = {
                'user': "me", # str | A string identifying a user. This can either be the string \"me\", an email, or the gid of a user.
                'opt_fields': "approval_status,message,requester,requester.name,target", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Get access requests
                api_response = access_requests_api_instance.get_access_requests(target, opts)
                for data in api_response:
                    pprint(data)
            except ApiException as e:
                print("Exception when calling AccessRequestsApi->get_access_requests: %s\n" % e)
          name: python-sdk-v5
      x-accepts:
      - application/json
      x-tags:
      - tag: Access requests
    post:
      description: Submits a new access request for a private object. Currently supports
        projects and portfolios.
      operationId: createAccessRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccessRequest_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAccessRequest_201_response"
          description: Successfully created a new access request.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Create an access request
      tags:
      - Access requests
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet accessRequestsApiInstance = new Asana.AccessRequestsApi();\nlet\
            \ body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\"\
            ,}}; // Object | \n\naccessRequestsApiInstance.createAccessRequest(body).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import\
            \ pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token\
            \ = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\
            \n# create an instance of the API class\naccess_requests_api_instance\
            \ = asana.AccessRequestsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\"\
            : \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | \n\n\ntry:\n\
            \    # Create an access request\n    api_response = access_requests_api_instance.create_access_request(body)\n\
            \    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception\
            \ when calling AccessRequestsApi->create_access_request: %s\\n\" % e)"
          name: python-sdk-v5
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Access requests
  /access_requests/{access_request_gid}/approve:
    post:
      description: Approves an access request for a target object.
      operationId: approveAccessRequest
      parameters:
      - description: Globally unique identifier for the access request.
        example: "12345"
        explode: false
        in: path
        name: access_request_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: access_request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveAccessRequest_200_response"
          description: Successfully approved an access request.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Approve an access request
      tags:
      - Access requests
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: |-
            const Asana = require('asana');

            let client = Asana.ApiClient.instance;
            let token = client.authentications['token'];
            token.accessToken = '<YOUR_ACCESS_TOKEN>';

            let accessRequestsApiInstance = new Asana.AccessRequestsApi();
            let access_request_gid = "12345"; // String | Globally unique identifier for the access request.

            accessRequestsApiInstance.approveAccessRequest(access_request_gid).then((result) => {
                console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));
            }, (error) => {
                console.error(error.response.body);
            });
          name: node-sdk-v3
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            access_requests_api_instance = asana.AccessRequestsApi(api_client)
            access_request_gid = "12345" # str | Globally unique identifier for the access request.


            try:
                # Approve an access request
                api_response = access_requests_api_instance.approve_access_request(access_request_gid)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AccessRequestsApi->approve_access_request: %s\n" % e)
          name: python-sdk-v5
      x-accepts:
      - application/json
      x-tags:
      - tag: Access requests
  /access_requests/{access_request_gid}/reject:
    post:
      description: Rejects an access request for a target object.
      operationId: rejectAccessRequest
      parameters:
      - description: Globally unique identifier for the access request.
        example: "12345"
        explode: false
        in: path
        name: access_request_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: access_request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveAccessRequest_200_response"
          description: Successfully rejected an access request.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Reject an access request
      tags:
      - Access requests
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: |-
            const Asana = require('asana');

            let client = Asana.ApiClient.instance;
            let token = client.authentications['token'];
            token.accessToken = '<YOUR_ACCESS_TOKEN>';

            let accessRequestsApiInstance = new Asana.AccessRequestsApi();
            let access_request_gid = "12345"; // String | Globally unique identifier for the access request.

            accessRequestsApiInstance.rejectAccessRequest(access_request_gid).then((result) => {
                console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));
            }, (error) => {
                console.error(error.response.body);
            });
          name: node-sdk-v3
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            access_requests_api_instance = asana.AccessRequestsApi(api_client)
            access_request_gid = "12345" # str | Globally unique identifier for the access request.


            try:
                # Reject an access request
                api_response = access_requests_api_instance.reject_access_request(access_request_gid)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AccessRequestsApi->reject_access_request: %s\n" % e)
          name: python-sdk-v5
      x-accepts:
      - application/json
      x-tags:
      - tag: Access requests
  /allocations/{allocation_gid}:
    delete:
      description: |-
        A specific, existing allocation can be deleted by making a DELETE request on the URL for that allocation.

        Returns an empty data record.
      operationId: deleteAllocation
      parameters:
      - description: Globally unique identifier for the allocation.
        example: "77688"
        explode: false
        in: path
        name: allocation_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: allocation
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approveAccessRequest_200_response"
          description: Successfully deleted the specified allocation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Delete an allocation
      tags:
      - Allocations
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: |-
            const Asana = require('asana');

            let client = Asana.ApiClient.instance;
            let token = client.authentications['token'];
            token.accessToken = '<YOUR_ACCESS_TOKEN>';

            let allocationsApiInstance = new Asana.AllocationsApi();
            let allocation_gid = "77688"; // String | Globally unique identifier for the allocation.

            allocationsApiInstance.deleteAllocation(allocation_gid).then((result) => {
                console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));
            }, (error) => {
                console.error(error.response.body);
            });
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.allocations.deleteAllocation(allocationGid)
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            allocations_api_instance = asana.AllocationsApi(api_client)
            allocation_gid = "77688" # str | Globally unique identifier for the allocation.


            try:
                # Delete an allocation
                api_response = allocations_api_instance.delete_allocation(allocation_gid)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AllocationsApi->delete_allocation: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.allocations.delete_allocation(allocation_gid, opt_pretty=True)
          name: python-sdk-v3
      x-accepts:
      - application/json
      x-tags:
      - tag: Allocations
    get:
      description: Returns the complete allocation record for a single allocation.
      operationId: getAllocation
      parameters:
      - description: Globally unique identifier for the allocation.
        example: "77688"
        explode: false
        in: path
        name: allocation_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: allocation
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      - description: "This endpoint returns a resource which excludes some properties\
          \ by default. To include those optional properties, set this query parameter\
          \ to a comma-separated list of the properties you wish to include."
        example:
        - assignee
        - assignee.name
        - created_by
        - created_by.name
        - effort
        - effort.type
        - effort.value
        - end_date
        - parent
        - parent.name
        - resource_subtype
        - start_date
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - assignee
            - assignee.name
            - created_by
            - created_by.name
            - effort
            - effort.type
            - effort.value
            - end_date
            - parent
            - parent.name
            - resource_subtype
            - start_date
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllocation_200_response"
          description: Successfully retrieved the record for a single allocation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Get an allocation
      tags:
      - Allocations
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet allocation_gid\
            \ = \"77688\"; // String | Globally unique identifier for the allocation.\n\
            let opts = { \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\
            \n};\nallocationsApiInstance.getAllocation(allocation_gid, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.allocations.getAllocation(allocationGid, {param: "value", param: "value", opt_pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            allocations_api_instance = asana.AllocationsApi(api_client)
            allocation_gid = "77688" # str | Globally unique identifier for the allocation.
            opts = {
                'opt_fields': "assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Get an allocation
                api_response = allocations_api_instance.get_allocation(allocation_gid, opts)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AllocationsApi->get_allocation: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.allocations.get_allocation(allocation_gid, {'param': 'value', 'param': 'value'}, opt_pretty=True)
          name: python-sdk-v3
      x-accepts:
      - application/json
      x-tags:
      - tag: Allocations
    put:
      description: |-
        An existing allocation can be updated by making a PUT request on the URL for
        that allocation. Only the fields provided in the `data` block will be updated;
        any unspecified fields will remain unchanged.

        Returns the complete updated allocation record.
      operationId: updateAllocation
      parameters:
      - description: Globally unique identifier for the allocation.
        example: "77688"
        explode: false
        in: path
        name: allocation_gid
        required: true
        schema:
          type: string
        style: simple
        x-env-variable: allocation
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      - description: "This endpoint returns a resource which excludes some properties\
          \ by default. To include those optional properties, set this query parameter\
          \ to a comma-separated list of the properties you wish to include."
        example:
        - assignee
        - assignee.name
        - created_by
        - created_by.name
        - effort
        - effort.type
        - effort.value
        - end_date
        - parent
        - parent.name
        - resource_subtype
        - start_date
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - assignee
            - assignee.name
            - created_by
            - created_by.name
            - effort
            - effort.type
            - effort.value
            - end_date
            - parent
            - parent.name
            - resource_subtype
            - start_date
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAllocation_request"
        description: The updated fields for the allocation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllocation_200_response"
          description: Successfully updated the allocation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Update an allocation
      tags:
      - Allocations
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet body =\
            \ {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\"\
            ,}}; // Object | The updated fields for the allocation.\nlet allocation_gid\
            \ = \"77688\"; // String | Globally unique identifier for the allocation.\n\
            let opts = { \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\
            \n};\nallocationsApiInstance.updateAllocation(body, allocation_gid, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.allocations.updateAllocation(allocationGid, {field: "value", field: "value", pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            allocations_api_instance = asana.AllocationsApi(api_client)
            body = {"data": {"<PARAM_1>": "<VALUE_1>", "<PARAM_2>": "<VALUE_2>",}} # dict | The updated fields for the allocation.
            allocation_gid = "77688" # str | Globally unique identifier for the allocation.
            opts = {
                'opt_fields': "assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Update an allocation
                api_response = allocations_api_instance.update_allocation(body, allocation_gid, opts)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AllocationsApi->update_allocation: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.allocations.update_allocation(allocation_gid, {'field': 'value', 'field': 'value'}, opt_pretty=True)
          name: python-sdk-v3
      x-content-type: application/json
      x-accepts:
      - application/json
      x-tags:
      - tag: Allocations
  /allocations:
    get:
      description: "Returns a list of allocations filtered to a specific project,\
        \ user or placeholder."
      operationId: getAllocations
      parameters:
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      - description: Globally unique identifier for the project to filter allocations
          by.
        example: "77688"
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - description: Globally unique identifier for the user or placeholder the allocation
          is assigned to.
        example: "12345"
        explode: true
        in: query
        name: assignee
        required: false
        schema:
          type: string
        style: form
      - description: Globally unique identifier for the workspace.
        example: "98765"
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Results per page.
          The number of objects to return per page. The value must be between 1 and 100.
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |-
          Offset token.
          An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.
          *Note: You can only pass in an offset that was returned to you via a previously paginated request.*
        example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      - description: "This endpoint returns a resource which excludes some properties\
          \ by default. To include those optional properties, set this query parameter\
          \ to a comma-separated list of the properties you wish to include."
        example:
        - assignee
        - assignee.name
        - created_by
        - created_by.name
        - effort
        - effort.type
        - effort.value
        - end_date
        - offset
        - parent
        - parent.name
        - path
        - resource_subtype
        - start_date
        - uri
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - assignee
            - assignee.name
            - created_by
            - created_by.name
            - effort
            - effort.type
            - effort.value
            - end_date
            - offset
            - parent
            - parent.name
            - path
            - resource_subtype
            - start_date
            - uri
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllocations_200_response"
          description: Successfully retrieved the requested allocations.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Get multiple allocations
      tags:
      - Allocations
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet opts =\
            \ { \n    'parent': \"77688\", \n    'assignee': \"12345\", \n    'workspace':\
            \ \"98765\", \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\"\
            , \n    'opt_fields': \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,offset,parent,parent.name,path,resource_subtype,start_date,uri\"\
            \n};\nallocationsApiInstance.getAllocations(opts).then((result) => {\n\
            \    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.allocations.getAllocations({param: "value", param: "value", opt_pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            allocations_api_instance = asana.AllocationsApi(api_client)
            opts = {
                'parent': "77688", # str | Globally unique identifier for the project to filter allocations by.
                'assignee': "12345", # str | Globally unique identifier for the user or placeholder the allocation is assigned to.
                'workspace': "98765", # str | Globally unique identifier for the workspace.
                'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.
                'offset': "eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*
                'opt_fields': "assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,offset,parent,parent.name,path,resource_subtype,start_date,uri", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Get multiple allocations
                api_response = allocations_api_instance.get_allocations(opts)
                for data in api_response:
                    pprint(data)
            except ApiException as e:
                print("Exception when calling AllocationsApi->get_allocations: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: |-
            import asana

            client = asana.Client.access_token('PERSONAL_ACCESS_TOKEN')

            result = client.allocations.get_allocations({'param': 'value', 'param': 'value'}, opt_pretty=True)
          name: python-sdk-v3
      x-accepts:
      - application/json
      x-tags:
      - tag: Allocations
    post:
      description: |-
        Creates a new allocation.

        Returns the full record of the newly created allocation.
      operationId: createAllocation
      parameters:
      - allowEmptyValue: true
        description: |-
          Provides “pretty” output.
          Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.
        example: true
        explode: true
        in: query
        name: opt_pretty
        required: false
        schema:
          type: boolean
        style: form
      - description: "This endpoint returns a resource which excludes some properties\
          \ by default. To include those optional properties, set this query parameter\
          \ to a comma-separated list of the properties you wish to include."
        example:
        - assignee
        - assignee.name
        - created_by
        - created_by.name
        - effort
        - effort.type
        - effort.value
        - end_date
        - parent
        - parent.name
        - resource_subtype
        - start_date
        explode: false
        in: query
        name: opt_fields
        required: false
        schema:
          items:
            enum:
            - assignee
            - assignee.name
            - created_by
            - created_by.name
            - effort
            - effort.type
            - effort.value
            - end_date
            - parent
            - parent.name
            - resource_subtype
            - start_date
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAllocation_request"
        description: The allocation to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllocation_200_response"
          description: Successfully created a new allocation.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: This usually occurs because of a missing or malformed parameter.
            Check the documentation and the syntax of your request and try again.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A valid authentication token was not provided with the request,\
            \ so the API could not associate a user with the request."
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The request was valid, but the queried object or object mutation\
            \ specified in the request is above your current premium level."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authentication and request syntax was valid but the server
            is refusing to complete the request. This can happen if you try to read
            or write to objects or properties that the user does not have access to.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either the request method and path supplied do not specify\
            \ a known action in the API, or the object specified by the request does\
            \ not exist."
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "There was a problem on Asana’s end. In the event of a server\
            \ error the response body should contain an error phrase. These phrases\
            \ can be used by Asana support to quickly look up the incident that caused\
            \ the server error. Some errors are due to server load, and will not supply\
            \ an error phrase."
      security:
      - personalAccessToken: []
      - oauth2: []
      summary: Create an allocation
      tags:
      - Allocations
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\n\
            let token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\
            \nlet allocationsApiInstance = new Asana.AllocationsApi();\nlet body =\
            \ {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\"\
            ,}}; // Object | The allocation to create.\nlet opts = { \n    'opt_fields':\
            \ \"assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date\"\
            \n};\nallocationsApiInstance.createAllocation(body, opts).then((result)\
            \ => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data,\
            \ null, 2));\n}, (error) => {\n    console.error(error.response.body);\n\
            });"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: |-
            const asana = require('asana');

            const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');

            client.allocations.createAllocation({field: "value", field: "value", pretty: true})
                .then((result) => {
                    console.log(result);
                });
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: |-
            import asana
            from asana.rest import ApiException
            from pprint import pprint

            configuration = asana.Configuration()
            configuration.access_token = '<YOUR_ACCESS_TOKEN>'
            api_client = asana.ApiClient(configuration)

            # create an instance of the API class
            allocations_api_instance = asana.AllocationsApi(api_client)
            body = {"data": {"<PARAM_1>": "<VALUE_1>", "<PARAM_2>": "<VALUE_2>",}} # dict | The allocation to create.
            opts = {
                'opt_fields': "assignee,assignee.name,created_by,created_by.name,effort,effort.type,effort.value,end_date,parent,parent.name,resource_subtype,start_date", # list[str] | This endpoint returns a resource which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
            }

            try:
                # Create an allocation
                api_response = allocations_api_instance.create_allocation(body, opts)
                pprint(api_response)
            except ApiException as e:
                print("Exception when calling AllocationsApi->create_allocation: %s\n" % e)
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: |-
            import asana

[...]
